<div class="row">
    <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
        <div class="card card-body form-control-ui">
            <p>
                <a class="form-title" data-bs-toggle="collapse" href="#collapse01" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <strong>Địa chỉ đăng ký thường trú</strong>
                </a>
            </p>
            <div class="collapse show" id="collapse01">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox()
                                .ElementAttr("class", "required-validation")
                                .Label("Số nhà, tên đường").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50).ShowClearButton(true))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox()
                                .Label("Khu phố/Thôn/Xóm").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(100).ShowClearButton(true))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().SelectBox()
                            //.DataSource(d => d.WebApi().Area("Functions").Controller("Product").LoadAction("GetPaymodeList"))
                                //.DisplayExpr("PayModeName")
                                //.ValueExpr("PayModeID")
                                .Placeholder("Chọn")
                                .SearchEnabled(true).Label("Tỉnh/Thành phố").LabelMode(EditorLabelMode.Floating)
                                .ShowClearButton(true).ElementAttr("class", "required-validation")
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().SelectBox()
                            //.DataSource(d => d.WebApi().Area("Functions").Controller("Product").LoadAction("GetPaymodeList"))
                                //.DisplayExpr("PayModeName")
                                //.ValueExpr("PayModeID")
                                .Placeholder("Chọn")
                                .SearchEnabled(true).Label("Quận/Huyện").LabelMode(EditorLabelMode.Floating)
                                .ShowClearButton(true).ElementAttr("class", "required-validation")
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().SelectBox()
                            //.DataSource(d => d.WebApi().Area("Functions").Controller("Product").LoadAction("GetPaymodeList"))
                                //.DisplayExpr("PayModeName")
                                //.ValueExpr("PayModeID")
                                .Placeholder("Chọn")
                                .SearchEnabled(true).Label("Xã/Phường/Thị trấn").LabelMode(EditorLabelMode.Floating)
                                .ShowClearButton(true).ElementAttr("class", "required-validation")
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().SelectBox()
                            //.DataSource(d => d.WebApi().Area("Functions").Controller("Product").LoadAction("GetPaymodeList"))
                                //.DisplayExpr("PayModeName")
                                //.ValueExpr("PayModeID")
                                .Placeholder("Chọn")
                                .SearchEnabled(true).Label("Quốc gia").LabelMode(EditorLabelMode.Floating)
                                .ShowClearButton(true).ElementAttr("class", "required-validation")
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox()
                                .Label("Mã bưu điện").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(100).ShowClearButton(true))
                        </div>
                    </div>
                </div>
            </div>
            <p>
                <a class="form-title" data-bs-toggle="collapse" href="#collapse02" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <strong>Địa chỉ nơi ở hiện tại</strong>
                </a>
            </p>
            <div class="collapse show" id="collapse02">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            @(Html.DevExtreme().CheckBox().Value(false).IconSize(18).ElementAttr("aria-label", "Custom size")
                                .Text("Địa chỉ nơi ở hiện tại là Địa chỉ đăng ký thường trú"))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox()
                                .ElementAttr("class", "required-validation")
                                .Label("Số nhà, tên đường").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50).ShowClearButton(true))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox()
                                .Label("Khu phố/Thôn/Xóm").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(100).ShowClearButton(true))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().SelectBox()
                            //.DataSource(d => d.WebApi().Area("Functions").Controller("Product").LoadAction("GetPaymodeList"))
                                //.DisplayExpr("PayModeName")
                                //.ValueExpr("PayModeID")
                                .Placeholder("Chọn")
                                .SearchEnabled(true).Label("Tỉnh/Thành phố").LabelMode(EditorLabelMode.Floating)
                                .ShowClearButton(true).ElementAttr("class", "required-validation")
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().SelectBox()
                            //.DataSource(d => d.WebApi().Area("Functions").Controller("Product").LoadAction("GetPaymodeList"))
                                //.DisplayExpr("PayModeName")
                                //.ValueExpr("PayModeID")
                                .Placeholder("Chọn")
                                .SearchEnabled(true).Label("Quận/Huyện").LabelMode(EditorLabelMode.Floating)
                                .ShowClearButton(true).ElementAttr("class", "required-validation")
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().SelectBox()
                            //.DataSource(d => d.WebApi().Area("Functions").Controller("Product").LoadAction("GetPaymodeList"))
                                //.DisplayExpr("PayModeName")
                                //.ValueExpr("PayModeID")
                                .Placeholder("Chọn")
                                .SearchEnabled(true).Label("Xã/Phường/Thị trấn").LabelMode(EditorLabelMode.Floating)
                                .ShowClearButton(true).ElementAttr("class", "required-validation")
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().SelectBox()
                            //.DataSource(d => d.WebApi().Area("Functions").Controller("Product").LoadAction("GetPaymodeList"))
                                //.DisplayExpr("PayModeName")
                                //.ValueExpr("PayModeID")
                                .Placeholder("Chọn")
                                .SearchEnabled(true).Label("Quốc gia").LabelMode(EditorLabelMode.Floating)
                                .ShowClearButton(true).ElementAttr("class", "required-validation")
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox()
                                .Label("Mã bưu điện").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(100).ShowClearButton(true))
                        </div>
                    </div>
                </div>
            </div>
            <p>
                <a class="form-title" data-bs-toggle="collapse" href="#collapse03" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <strong>Địa chỉ liên hệ</strong>
                </a>
            </p>
            <div class="collapse show" id="collapse03">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            @(Html.DevExtreme().CheckBox().Value(false).IconSize(18).ElementAttr("aria-label", "Custom size")
                                .Text("Địa liên hệ là Địa chỉ đăng ký thường trú"))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox()
                                .ElementAttr("class", "required-validation")
                                .Label("Số nhà, tên đường").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(50).ShowClearButton(true))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox()
                                .Label("Khu phố/Thôn/Xóm").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(100).ShowClearButton(true))
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().SelectBox()
                            //.DataSource(d => d.WebApi().Area("Functions").Controller("Product").LoadAction("GetPaymodeList"))
                                //.DisplayExpr("PayModeName")
                                //.ValueExpr("PayModeID")
                                .Placeholder("Chọn")
                                .SearchEnabled(true).Label("Tỉnh/Thành phố").LabelMode(EditorLabelMode.Floating)
                                .ShowClearButton(true).ElementAttr("class", "required-validation")
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().SelectBox()
                            //.DataSource(d => d.WebApi().Area("Functions").Controller("Product").LoadAction("GetPaymodeList"))
                                //.DisplayExpr("PayModeName")
                                //.ValueExpr("PayModeID")
                                .Placeholder("Chọn")
                                .SearchEnabled(true).Label("Quận/Huyện").LabelMode(EditorLabelMode.Floating)
                                .ShowClearButton(true).ElementAttr("class", "required-validation")
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().SelectBox()
                            //.DataSource(d => d.WebApi().Area("Functions").Controller("Product").LoadAction("GetPaymodeList"))
                                //.DisplayExpr("PayModeName")
                                //.ValueExpr("PayModeID")
                                .Placeholder("Chọn")
                                .SearchEnabled(true).Label("Xã/Phường/Thị trấn").LabelMode(EditorLabelMode.Floating)
                                .ShowClearButton(true).ElementAttr("class", "required-validation")
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().SelectBox()
                            //.DataSource(d => d.WebApi().Area("Functions").Controller("Product").LoadAction("GetPaymodeList"))
                                //.DisplayExpr("PayModeName")
                                //.ValueExpr("PayModeID")
                                .Placeholder("Chọn")
                                .SearchEnabled(true).Label("Quốc gia").LabelMode(EditorLabelMode.Floating)
                                .ShowClearButton(true).ElementAttr("class", "required-validation")
                                )
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            @(Html.DevExtreme().TextBox()
                                .Label("Mã bưu điện").LabelMode(EditorLabelMode.Floating)
                                .MaxLength(100).ShowClearButton(true))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>