@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer

@{
	var emailLabel = String.Format(@ViewLocalizer["emailLabel"].Value);
	var passwordLabel = String.Format(@ViewLocalizer["passwordLabel"].Value);
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>FPT - eSubmission</title>

	<link rel="shortcut icon" href="~/add_static//img/icons/icon-48x48.png" />
	<link rel="canonical" href="https://demo-basic.adminkit.io/" />
	<link href="~/add_static//css//app.css" rel="stylesheet">

	<!-- CSS -->
	@* <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" /> *@
	<link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
	<link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />

	<!-- JS -->
	<script src="~/js/add_main/jquery.min.js"></script>
	<script src="~/js/add_main/bootstrap.min.js"></script>
	<script src="~/js/devextreme/dx.all.js"></script>
	<script src="~/js/site.js"></script>

</head>
<body>
	<nav class="navbar navbar-expand navbar-light navbar-bg">
		<div class="navbar-collapse collapse" style="position: relative;">
			<ul class="navbar-nav navbar-align" style="position: absolute;top:-27px;right:0;">
				<li class="nav-item" style="">
					<div class="input-group input-group-language">
						<span class="input-group-text">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
								<path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"></path>
								<path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"></path>
							</svg>
						</span>
						<partial name="_CulturePartial" />
					</div>
				</li>
			</ul>
		</div>
	</nav>

	<main class="content" style="padding: 0px;">
		<div class="container-fluid conya">
			<div class="side-left">
				<div class="sid-layy">
					<div class="row slid-roo">
						<div class="data-portion">
							<h2><strong style="color:white">@ViewLocalizer["manageyourorder"]</strong></h2>
							<p>@ViewLocalizer["manageyourorder_detail"] </p>
							<ul>
								<li>Ph :- +91 9756545434</li>
								<li>Fax :- (+7867 65 544)</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="side-right">
				<main class="d-flex w-100" style="background-color:#F7F5FC">
					<div class="container d-flex flex-column login-form">
						<div class="row">
							<div class="d-table-cell align-middle">
								<div class="text-center mt-4">
									<img src="/images/logo-shlv.png" class="logo" style="width:200px; margin-bottom:30px" />
									<h1 class="h4 main-color">@ViewLocalizer["titleLoginForm"]</h1>
									<p class="lead main-color">
										@ViewLocalizer["shinhanLifeVietNam"]
									</p>
								</div>

								<div class="card">
									<div class="card-body">
										<div class="m-sm-3">
											<form>
												<div class="mb-3">
													<div class="form-group">
														@(Html.DevExtreme().TextBox()
															.Label(emailLabel).LabelMode(EditorLabelMode.Floating)
															.MaxLength(50).ShowClearButton(true))
													</div>
												</div>

												<div class="mb-3">
													<div class="form-group">
														@(Html.DevExtreme().TextBox()
															.Label(passwordLabel).LabelMode(EditorLabelMode.Floating).Mode(TextBoxMode.Password)
															.MaxLength(50).ShowClearButton(true))
													</div>
												</div>
												<div>
													<div class="form-check align-items-center">
														<input id="customControlInline" type="checkbox" class="form-check-input" value="remember-me" name="remember-me" checked>
														<label class="form-check-label text-small" for="customControlInline">@ViewLocalizer["rememberme"]</label>
													</div>
												</div>
												<div class="d-grid gap-2 mt-3">
													<a class="btn btn-lg btn-purple-style" onclick="onButtonLoginClicked()">@ViewLocalizer["signin"]</a>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>


			</div>

		</div>
		@RenderBody()
	</main>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/add_static//js//app.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
<script>
	function onButtonLoginClicked() {
		location.href = '@Url.Action("Index", "Users", new { area = "Admin" })';
	}
</script>
</html>
