@using eSubmission.Models
@using eSubmission.Areas.Functions.Controllers
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<CustomerController> HtmlLocalizer

@{
    var confirmDeleteMessage = String.Format(@HtmlLocalizer["ConfirmDeleteMessage"].Value);
    var confirmDeleteTitle = String.Format(@HtmlLocalizer["ConfirmDeleteTitle"].Value);
}

<div class="container-fluid p-0" id="partialViewStep">
    <h1 class="h5 mb-3 form-title">
        @HtmlLocalizer["infor"]
        <i class="fa fa-caret-right" aria-hidden="true"></i>
        <strong>@HtmlLocalizer["occupation"]</strong>
    </h1>
    <div class="row">
        <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
            <ul class="progressbar six-step">
                <li class="active" onclick="onProgressBarClicked('CusDetailGeneral')">@HtmlLocalizer["personal"]</li>
                <li class="active" onclick="onProgressBarClicked('CusDetailJob')">@HtmlLocalizer["occupation"]</li>
                <li onclick="onProgressBarClicked('CusDetailContact')">@HtmlLocalizer["contact"]</li>
                <li onclick="onProgressBarClicked('CusDetailAddress')">@HtmlLocalizer["address"]</li>
                <li onclick="onProgressBarClicked('CusDetailFatca')">@HtmlLocalizer["fatca"]</li>
                <li onclick="onProgressBarClicked('CusDetailConfirm')">@HtmlLocalizer["confirm"]</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
            <div class="card card-body form-control-ui">
                <div class="row button-right-row">
                    <div class="col-md-12">
                        <button class="btn btn-purple-style" type="submit" onclick="onProgressBarClicked('CusDetailGeneral')"><span class="glyphicon glyphicon-triangle-left"></span> Trở về</button>
                        <button class="btn btn-purple-style" type="submit" onclick="onProgressBarClicked('CusDetailContact')">Tiếp theo <span class="glyphicon glyphicon-triangle-right"></span></button>
                    </div>
                </div>
                <p>
                    <a class="form-title" data-bs-toggle="collapse" href="#collapse01" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <strong>Địa chỉ đăng ký thường trú</strong>
                    </a>
                </p>
                <div class="collapse show" id="collapse01">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                            <div class="form-group">
                                @(Html.DevExtreme().SelectBox()
                                //.DataSource(d => d.WebApi().Area("Functions").Controller("Product").LoadAction("GetPaymodeList"))
                                    //.DisplayExpr("PayModeName")
                                    //.ValueExpr("PayModeID")
                                    .Placeholder("Chọn")
                                    .SearchEnabled(true).Label("Nghề nghiệp/Chức vụ").LabelMode(EditorLabelMode.Floating)
                                    .ShowClearButton(true).ElementAttr("class", "required-validation")
                                    )
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                            <div class="form-group">
                                @(Html.DevExtreme().SelectBox()
                                //.DataSource(d => d.WebApi().Area("Functions").Controller("Product").LoadAction("GetPaymodeList"))
                                    //.DisplayExpr("PayModeName")
                                    //.ValueExpr("PayModeID")
                                    .Placeholder("Chọn")
                                    .SearchEnabled(true).Label("Nhóm nghề nghiệp").LabelMode(EditorLabelMode.Floating)
                                    .ShowClearButton(true).ElementAttr("class", "required-validation")
                                    )
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                            <div class="form-group">
                                @(Html.DevExtreme().TextBox()
                                    .ElementAttr("class", "required-validation")
                                    .Label("Chi tiết công việc").LabelMode(EditorLabelMode.Floating)
                                    .MaxLength(200).ShowClearButton(true))
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                            <div class="form-group">
                                @(Html.DevExtreme().NumberBox()
                                    .ElementAttr("class", "required-validation")
                                    .Label("Thu nhập bình quân").LabelMode(EditorLabelMode.Floating)
                                    .Min(0).Max(99999999999).ShowClearButton(true))
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                            <div class="form-group">
                                @(Html.DevExtreme().TextBox()
                                    .Label("Công ty làm việc").LabelMode(EditorLabelMode.Floating)
                                    .MaxLength(100).ShowClearButton(true))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>